<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="col-md-6 m-5 ">

  <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <div class="form-outline">
                <label for="validationCustom01" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="validationCustom01"  [(ngModel)] = "correo.nombre" name="nombre" formControlName="nombre"/>
        <div *ngIf="getValue('nombre')?.invalid && (getValue('nombre')?.touched) || getValue('nombre')?.dirty">
          <div *ngIf="getValue('nombre')?.hasError('required')">
            <div class="alert alert-danger" role="alert">
              Porfavor provee un nombre valido.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-outline">
        <label for="validationCustom02" class="form-label">Email</label>
        <input type="text" class="form-control" id="validationCustom02"   [(ngModel)] = "correo.email" name="email" formControlName="email"/>

        <div *ngIf="getValue('email')?.invalid && (getValue('email')?.touched) || getValue('email')?.dirty">
          <div *ngIf="getValue('email')?.hasError('required')">
            <div class="alert alert-danger" role="alert">
              Porfavor provee un email valido.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-outline">
        <label for="validationCustom02" class="form-label">Mensaje</label>
        <input type="text" class="form-control" id="validationCustom02"  [(ngModel)] = "correo.mensaje"  name="mensaje" formControlName="mensaje"/>
        <div *ngIf="getValue('mensaje')?.invalid && (getValue('mensaje')?.touched) || getValue('mensaje')?.dirty">
          <div *ngIf="getValue('mensaje')?.hasError('required')">
            <div class="alert alert-danger" role="alert">
              Porfavor provee un mensaje valido.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-outline">
        <label for="validationCustom03" class="form-label">2 + 3 = ?</label>
        <input type="text" class="form-control" id="validationCustom03"  [(ngModel)] = "preguntasecreta"  name="preguntasecreta" formControlName="preguntasecreta"/>
        <div *ngIf="getValue('preguntasecreta')?.invalid && (getValue('nombre')?.touched) || getValue('nombre')?.dirty">
          <div *ngIf="getValue('preguntasecreta')?.hasError('preguntasecreta') && validarPreguntaSecreta()">
            <div class="alert alert-danger" role="alert">
              La respuesta invalida.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" (click)="enviarCorreo()">Aceptar</button>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
<br>
<app-correo [correos]="correos"></app-correo>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
